@import "@/styles/variables";

@mixin container {
  box-sizing: border-box;
  width: calc(100vw - 15rem);
  padding: 2rem;
}

@mixin grid-table {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;

  &-header {
    margin: 0;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  &-paragraph {
    margin: 0;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
  }
}

@mixin with-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin with-shadow-circle {
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.24));
}

@mixin interactive-with-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  outline: none;

  &:hover,
  &:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

@mixin interactive-image-open-tip {
  position: relative;

  &::before {
    @include transition(0.5s);

    content: "click on image to open";
    z-index: 100;
    position: absolute;
    opacity: 0;
    top: 1rem;
    right: 1rem;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    line-height: 1.2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  &:hover {
    &::before {
      display: block;
      opacity: 1;
    }
  }
}

@mixin progressive-images {
  .v-lazy-image {
    filter: blur(10px);
    transition: filter 0.7s;
  }

  .v-lazy-image-loaded {
    filter: blur(0);
  }
}

@mixin main-header {
  margin: 0;
  font-size: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
}

@mixin underline($width, $isAnimation) {
  position: relative;
  outline: none;

  &::after {
    @include transition(0.4s);

    content: "";
    position: absolute;
    display: block;
    @if $isAnimation == true {
      bottom: -0.5rem;
    } @else {
      bottom: -0.1rem;
    }
    left: 0;
    width: $width;
    height: 2px;
    background-color: $accent_color;
    @if $isAnimation == true {
      opacity: 0;
    } @else {
      opacity: 1;
    }
  }

  @if $isAnimation == true {
    &:hover,
    &:focus {
      &::after {
        bottom: -0.1rem;
        opacity: 1;
      }
    }
  }
}

@mixin transition($time) {
  transition: all $time $cubic-bezier;
}

@mixin visually-hidden {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }
}
