// Media Queries
$mobile: 767px;
$tablet: 1199px;

// Colors
$foreground-color: #2c3e50;
$foreground-color-inversed: #ffffff;
$background-color: #ffffff;
$background-color-inversed: #2c3e50;
$accent-color: #42b983;

// Transitions
$cubic-bezier: cubic-bezier(0.25, 0.8, 0.25, 1)